@charset "UTF-8";

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    text-align: center;
}


.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

h1{
	font-size:30pt;
}